/*---Use: font-family: 'Lato', sans-serif;--- */
/*primary color: #e67e22*/


/*---------------- Base Set Up ----------------*/


/*sets the base parameters of the elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'sans-serif', 'Arial';
    font-size: 20px; /*all children font size elem will be defined from this, ie 200% etc*/
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto; /*centers*/
}

section {
    padding: 80px 0 80px;
}

/*clear floats with clear fix class*/
.clearfix {zoom:1}
.clearfix:after{
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility:hidden;
}


/*-------------------- end base ------------------*/


/*------------------- Header ---------------------*/

/*set hero image background*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/resources/images/hero.jpg);
    background-attachment: fixed; /*image stays inplace on scroll*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*center hero text box-main image*/
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; /* top and left position the bg image*/
    left: 50%;
    transform: translate(-50%, -50%); /*moves h1 to the left center of bgi*/
}

/*common h elements*/
h1,
h2, 
h3 {
    /*decrease font weight with big headlines*/
    font-weight: 300;
    text-transform: uppercase;
}

/*specific to h1*/
h1{
    font-size:240%; /*relative to parent(html=40px)*/
    margin:0;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 4px;
}

/*specific to h2-features*/
h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.long-copy {
    line-height: 145%;
    width: 70%; /*reduce width*/
    margin-left: 15%; /*bc width was reduced, we need to center*/
}

.section-features .long-copy {
    margin-bottom: 30px;
}

/*navbar and logo on nav*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

/*keep links the same when visited*/
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0; /*add space top/bot from line and text*/
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s; /*element to hover/trans time*/
}
/*add hover and active states to nav links*/
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*features boxes, can be used elsewhere*/
.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*Icons*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/*----Button designs in header-----*/

/*common styles of both buttons go in btn*/
/*create states: link,visited, active (click), hover(mouse over)*/

.btn:link,
.btn:visited {
    border-radius: 200px;
    display: inline-block; /*set width and height on element */
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /*eliminate unerline*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;/*smoother transition when hovered*/
}


/*makes buttons look the same after clicked, no visit status*/
.btn-full:link,
.btn-full:visited {
    background-color: #e67e22; /* flatuicolors.com*/
    border: 1px solid #e67e22; /*adding this makes btn-full same w/h as bth ghost*/
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

/*creates a darker color when hovered*/
.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e67e22; 
}

/*makes solid bg when hovered and changes text to white*/
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/*-----------------end header----------------*/



/*---------------- Meals Section -------------- */
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none; /*get rid of bullets*/
    width: 100%; /*make w all across page*/
}

.meals-showcase li {
    display: block; /*inline display*/
    float: left; /*make elements side by side*/
    width: 25%; /*4 elements inside of 100%*/
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /*keeps image in container by hiding the overflow*/
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15); /*zooms in on img when its not hovered*/
    transition: transform 0.5s, opacity 0.5s; /*animates-slows down the hover effect*/
}

.meal-photo img:hover{
    opacity: 1; /*opacity returns to normal on hover*/
    transform: scale(1.03); /*transfroms img back to normal on hover*/
}


/* ----------------How it Works Section-------------- */

.section-steps {
    background-color: #f4f4f4;
}

/* sel boxes individually using psuedo class-first child */
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top:30px;
}

/* box 2 on the right */
.steps-box:last-child{
    padding-left: 3%; 
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

/* icons */
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding:5px;
    float:left;
    font-size: 150%;
    margin-right: 25px;
}

/* push buttons down with margin and using a child class */
.works-step:last-of-type{
    margin-bottom: 80px;
}

/* buttons */
.btn-app:link,
.btn-app:visited {
    border:0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*--------------- Cities Section -------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.icon-small{
    color:#e67e22;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    /*to align icons w text*/
    margin-top: -5px;
    line-height: 120%;
    vertical-align: middle;
}


a:link,
a:visited {
    color:#e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding: 1px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/*--------------- Testimonials Section -------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/resources/css/imgbg/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed; /*image stays inplace on scroll*/
}

/*blockquotes* style*/
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /*aligns text to middle of img*/
}